//- mj-section(background-color='#4A5568' padding='0')
mj-section(background-color='#270938' padding='0')
    mj-group(width='450px')
        mj-column(width='20%' padding-top='8px' padding-bottom='8px' padding-right='8px' vertical-align='middle')
            mj-image(padding='0' border='0' width='50px' align='right' src='https://i.ibb.co/xYKFMzh/logoESA.jpg' alt='logo ESA (École Supérieure Assurance)')/
        mj-column(width="80%" padding-top='8px' padding-bottom='8px' padding-left='8px' vertical-align='middle')
            mj-text(padding='0' font-size='14px' line-height='18px' font-weight='300' color='#ffffff') Ecosup Assurance partenaire de l'ESA Paris #[span(style='font-style:italic') (École Supérieure d'Assurance)]