//- Etude apprentissage
mj-section(background-color='#EDF2F7')
    mj-column(width='30%')
        mj-image(padding='0' border='none' width='480px' src='https://i.ibb.co/CmV9Byr/112024-A12-Assurance.jpg' alt='De plus en plus de jeunes ont recours à l\’apprentissage pour se former.')/
    mj-column(width='70%')
        mj-text(padding='0 25px' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Ecole
        mj-text(padding='0 25px' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Ecosup Campus se forme pour toujours mieux accompagner !
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#2D3748") Un sujet qui nous tient particulièrement à cœur. Pour aller plus loin que les simples recommandations ou nos obligations #[span(style="font-weight:700;") Qualiopi], #[span(style="font-weight:700") Ecosup Campus] investit en temps et en moyens pour assurer l'inclusion et l'accompagnement de #[span(style="font-weight:700") TOUS] !
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#2D3748") C'est au travers de formations pointues et complètes, dispensées par des acteurs reconnus : #[span(style="font-weight:700") CNRFP], centre de formations professionnelles, et #[span(style="font-weight:700;") AKTO], formations en ressources humaines, que nos équipes continuent tout au long de l'année de se spécialiser sur ce sujet si important.