//- Lancement du Mastère
mj-section(background-color='#e0e4eb' padding-left="25px" padding-right="25px")
    mj-column(width="40%" padding="10px")
        mj-image(padding-top="0" padding-bottom='10px' padding-left="0" padding-right="0" border='none' fluid-on-mobile="true" width='480px' src='https://i.ibb.co/9HNNRTm/ESA01.jpg' alt='Réunion ESA(École Supérieure d\'Assurances) à Paris.')/
        mj-image(css-class="photo" padding-top="0" padding-bottom='10px' padding-left="0" padding-right="0" border='none' fluid-on-mobile="true" width='480px' src='https://i.ibb.co/VWGFV4Q/ESA02.jpg' alt='Groupe réunissant les participants à la Réunion des Écoles qui travaillent avec l\'ESA(École Supérieure d\'Assurances).')/
        mj-image(css-class="photo" padding-top="0" padding-bottom='10px' padding-left="0" padding-right="0" border='none' fluid-on-mobile="true" width='480px' src='https://i.ibb.co/ZNfQY1m/ESA03.jpg' alt='Groupe réunissant les participants à la Réunion des Écoles qui travaillent avec l\'ESA(École Supérieure d\'Assurances).')/
    mj-column(width='60%' padding="10px")
        mj-image(align="left" padding='0' border='none' width='80px' src='https://i.ibb.co/xYKFMzh/logoESA.jpg' alt='logo couleur ESA, École Supérieure d\'Assurances')/
        mj-spacer(height="10px")
        mj-text(padding='0px' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase' letter-spacing="1px") Formation
        mj-text(padding='0px' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Ecosup Assurance : objectif Bac+5 Expert en Ingénerie Patrimoniale
        mj-text(padding='5px 0px' font-size='16px' line-height='20px' font-weight='400' color="#45546E") Présent lors du grand #[span(style="font-weight:700;color:#2D3748") rendez-vous des écoles partenaires de l'ESA] (École Supérieure d'Assurances), #[span(style="font-weight:700;color:#2D3748;") Ecosup Assurance] finalise et consolide son cursus de formation des professionnels de la Banque Assurance avec ce diplôme reconnu d'Ingénierie Patrimoniale. Un grand pas pour #[span(style="font-weight:700;color:#2D3748;") Ecosup Assurance] et surtout pour nos élèves.
        mj-text(padding='5px 0px' font-size='16px' line-height='20px' font-weight='400' color="#45546E") On vous attend lors de la Grande #[span(style="font-weight:700;color:#2D3748") Journée Porte Ouverte du 25 janvier 2025] pour le lancement officiel du diplôme de Gestion de patrimoine !
        mj-spacer(height="10px")
        mj-text(padding="5px 0px" align='right' color='#BA4995' font-size="16px" font-weight='700' line-height="20px") #[a(href='https://urlz.fr/taTd' style='color:#BA4995;font-size:16px;line-weight:20px;font-weight:700' target='_blank') En savoir plus...]