//- Lancement du Mastère
mj-section(background-color='#EDF2F7')
    mj-column(width='30%' css-class="logo")
        mj-image(padding='0' border='none' width='480px' src='https://i.ibb.co/xYKFMzh/logoESA.jpg' alt='De plus en plus de jeunes ont recours à l\'apprentissage pour se former.')/
        mj-spacer(height="15px")
    mj-column(width='70%')
        mj-text(padding='0 25px' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase' letter-spacing="1px") Formation
        mj-text(padding='0 25px' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Ecosup Assurance : objectif Bac+5 Expert en Ingénerie Patrimoniale
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#2D3748") Présent lors du grand #[span(style="font-weight:700;") rendez-vous des écoles partenaires de l'ESA] (École Supérieure d'Assurance), #[span(style="font-weight:700;") Ecosup Assurance] finalise et consolide son cursus de formation des professionnels de la Banque Assurance avec ce diplôme reconnu d'Ingénierie Patrimoniale. Un grand pas pour #[span(style="font-weight:700;") Ecosup Assurance] et surtout pour nos élèves.
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#2D3748") On vous attend lors de la Grande #[span(style="font-weight:700;") Journée Porte Ouverte du 25 janvier 2025] pour le lancement officiel du diplôme de Gestion de patrimoine !
        mj-spacer(height="10px")
        mj-text(padding="5px 25px" align='right' color='#BA4995' font-size="16px" font-weight='700' line-height="20px") #[a(href='https://ecosup-assurance.fr/wp-content/uploads/2024/10/francaisAlternanceBarometreIgensia.pdf' style='color:#BA4995;font-size:16px;line-weight:20px;font-weight:700' target='_blank') En savoir plus...]