//- Etude apprentissage
mj-section(background-color='#EDF2F7')
    mj-column(width='30%')
        mj-image(padding='0' border='none' width='480px' src='https://i.ibb.co/CmV9Byr/112024-A12-Assurance.jpg' alt='De plus en plus de jeunes ont recours à l\’apprentissage pour se former.')/
    mj-column(width='70%')
        mj-text(padding='0 25px' align='left' font-size='14px' font-weight='900' color='#944694' line-height='18px' text-transform='uppercase') Découverte Entreprise
        mj-text(padding='0 25px' align='left' font-size='20px' font-weight='700' line-height='24px' color='#684092') Réunion BNI spéciale invités s'invite chez EcoSup Campus !
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#2D3748") Un grand moment de réseautage et de partage à Tourcoing !
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#2D3748") C'est près de 40 entreprises du secteur qui se sont réunis jeudi 14 novembre au sein de notre école. Un grand merci à tous les participants de cet évènement majeur, et merci à Caroline Morel et Jonathan Bailleul, Direction BNI Nord, pour leur confiance !
        mj-text(padding='5px 25px' font-size='16px' line-height='20px' font-weight='400' color="#2D3748") Une opportunité également pour nos les élèves de BTS et de Bachelor présents de participer à un évènement pro... 
        mj-spacer(height="10px")
        mj-text(padding="5px 25px" align='right' color='#BA4995' font-size="16px" font-weight='700' line-height="20px") #[a(href='https://ecosup-assurance.fr/wp-content/uploads/2024/10/francaisAlternanceBarometreIgensia.pdf' style='color:#BA4995;font-size:16px;line-weight:20px;font-weight:400' target='_blank') En savoir plus...]