//- mj-section(background-color='#4A5568' padding='0')
mj-section(background-color='#270938' padding='0')
    mj-group(width='450px')
        mj-column(width='25%' padding-top='8px' padding-bottom='8px' padding-right='8px' vertical-align='middle')
            mj-image(padding='0' border='0' width='50px' align='center' src='https://i.ibb.co/1TX5zLW/lg-ESA112024.png' alt='logo ESA (École Supérieure Assurance)')/
        mj-column(width="25%" padding-top='8px' padding-bottom='8px' padding-left='8px' vertical-align='middle')
            mj-image(padding='0' border='0' width='50px' align='center' src='https://i.ibb.co/HGs67PM/lg-AGEA112024.png' alt='logo ESA (École Supérieure Assurance)')/
        mj-column(width="25%" padding-top='8px' padding-bottom='8px' padding-left='8px' vertical-align='middle')
            mj-image(padding='0' border='0' width='50px' align='center' src='https://i.ibb.co/9WmCPHs/lg-Grafton112024.png' alt='logo ESA (École Supérieure Assurance)')/
        mj-column(width="25%" padding-top='8px' padding-bottom='8px' padding-left='8px' vertical-align='middle')
            mj-image(padding='0' border='0' width='50px' align='center' src='https://i.ibb.co/xqBHgXt/lg-BNI112024.png' alt='logo BNI')/
            
            