mjml
    mj-head
        mj-title Lettre Ecosup Assurance - Etudiant Novembre 2024
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-breakpoint(width='480px')/
    mj-body(background-color='#fcfcfc')
        //- block content
        block content
        //- block sponsors
        block sponsors
            include ../includes/_sponsors
        //- block hero
        block hero
            include ../includes/_hero
        //- block dossier
        block edito
            include ../includes/_edito
        //- block sofinco
        block sofinco
            include ../includes/_sofinco
        //- block reunion BNI
        block reunionBNI
            include ../includes/_reunionBNI
        //- block partenariat masterEsa
        block masterEsa
            include ../includes/_masterEsa
        //- block Handicap
        block handicap
            include ../includes/_handicap
        //- block kelly
            block kelly
            include ../includes/_kelly
        //- block bni
            block bni
            include ../includes/_bni
        //- block agenda
        block agenda 
            include ../includes/_agenda
        //- block partenaires
        block partenaires 
            include ../includes/_partenaires
        //- block footer
        block footer
            include ../includes/_footer