mjml
    mj-head
        mj-title Lettre Ecosup Assurance - Etudiant Novembre 2024
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-breakpoint(width='480px')/
    mj-body(background-color='#fcfcfc')
        //- block content
        block content
        //- block esa
            block esa
            include ../includes/_esa
        //- block hero
            block hero
            include ../includes/_hero
        //- block dossier
            block edito
            include ../includes/_edito
        //- block article1
            block article2
            include ../includes/_article1
        //- block cvbook
            block cvBook
            include ../includes/_cvbook
        //- block partenariat SMA
            block partsma
            include ../includes/_partsma
        //- block taxe d'apprentissage
            block taxe
            include ../includes/_taxe
        //- block kelly
            block kelly
            include ../includes/_kelly
        //- block bni
            block bni
            include ../includes/_bni
        //- block agenda bni
            block agendaBni 
            include ../includes/_agendaBni
        //- block footer
            block footer
            include ../includes/_footer